.products-container {
    background-image: url("/image/"); /* Specify the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px); /* Add blur effect */
    /* Add any additional styling you need */
  }





/* Main  */  
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #ff6d00;
  }
  
  .card:nth-child(2) {
    background-color: #f4a460;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }



  .content-container{
    display: flex;
    justify-content: flex-end; /* Align cards to the right */
    gap: 20px;
    margin: 15px 0;
}

.info-card {
    /* Add any styling you want for the card */
    width: 200px; /* Set the width of the card */
    margin-left: 10px; /* Add margin between cards */
}

.info-charts {
    /* Add any styling you want for the chart container */
    width: 50%; /* Set the width of the chart container */
}









  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }
  
  /* End Main  */

